.container {
    padding: 1.5rem;
    margin-bottom: 1.5rem;

    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    transition: 0.3s var(--hover-transition-timing-function);
}

.container:hover {
    transform: scale(1.05);
}

.container:active {
    transform: scale(0.95);
}

.container h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.summary {
    font-size: 14px;
    color: var(--light-text-color);
    margin: 8px 0;
}

.footer {
    font-size: 10px;
    color: var(--light-text-color);
}
