:root {
    --text-color: #000;
    --primary-color: #23a7cf;
    --background-color: #fff;
}

body {
    background-color: var(--background-color);

    color: var(--text-color);
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a:visited {
    color: inherit;
}
