:root {
    --text-color: #202020;
    --light-text-color: #6c6c6c;
    --primary-color: #23a7cf;
    --background-color: #f5f5f5;
    --border-color: #eee;

    --content-line-height: 1.6;
    --border-radius: 12px;

    --hover-transition-timing-function: cubic-bezier(0, 0.04, 0, 1.01);
}

body {
    background-color: var(--background-color);

    color: var(--text-color);
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a:visited {
    color: inherit;
}
