:root {
    --text-color: #202020;
    --light-text-color: #6c6c6c;
    --primary-color: #23a7cf;
    --background-color: #f5f5f5;

    --content-line-height: 1.6;
}

body {
    background-color: var(--background-color);

    color: var(--text-color);
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a:visited {
    color: inherit;
}
