.blog {
    line-height: var(--content-line-height);
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    margin-top: 3rem;
    max-width: 700px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.intro {
    display: flex;
    flex-direction: column;

    margin: 1rem 0;
    color: var(--light-text-color);
    font-size: 1rem;
}

.intro span {
    margin-bottom: 1rem;
}

.blog img:not(.inline) {
    display: block;
    background-color: white;
    padding: 1rem 4rem;
    margin: 0.5rem auto;
    border-radius: 8px;
    width: 100%;

    @media (min-width: 600px) {
        width: 60%;
    }
}

.blog img.inline {
    height: 1rem;
    width: auto;
    vertical-align: middle;
}

.blog li {
    list-style: disc inside;
}

.blog b {
    font-weight: bold;
}

.blog i {
    font-style: italic;
}
